body {
  font-family: Poppins, Arial, sans-serif;
  margin: 0;
  align-items: center;
}

.container {
  padding-inline: 20vw; 
}

a {
  text-decoration: none;
}


@import "./partials/navbar.scss";
@import "./partials/animations.scss";
@import "./partials/home.scss";
@import "./partials/footer.scss";
@import "./partials/login.scss";

